* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* commons */
main {
    flex-direction: column;
    /* debug */
    /* background-color: rgb(125, 255, 255); */
    /* height: 1000px; */
}

.flex-container,
.footer-container,
.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex-container{
    width: 100%;
}

.nav-container,
.multi-container,
.thebigone,
.footer-container {
    width: 60%;

}

.very-big,
.big-container,
.small-container,
.thebigone,
.verysmall-container,
.footer-container {
    margin-top: 20px;
    margin-bottom: 20px;
    /* debug */
    border: 1px dashed black;
}

/* nav */
.nav-container {
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    /* debug */
    border: 1px Dashed black;
}

.nav {
    width: 20%;
    /* debug */
    border: 1px dashed black;
}

.menu {
    flex-grow: 1;
}

/* main */

.very-big {
    width: 45%;
    /* debug */
    height: 200px;
    line-height: 200px;
}

.big-container {
    width: 40%;
}

.small-container {
    width: 20%;
}

.verysmall-container {
    width: calc(100% / 5);
}

.footer-container{
    justify-content: space-between;
    /* debug */
    height: 40px;
    line-height: 40px;
}

/* footer */
.foot {
    width: 10%;
    margin-top: 6px;
    margin-bottom: 6px;
}

footer .container {
    margin-top: 1px;
    margin-bottom: 1px;
    /* debug */
    height: 60px;
    line-height: 60px;
}

/* DEBUG    DEBUG   DEBUG   DEBUG   DEBUG   DEBUG   DEBUG   DEBUG*/
.thebigone {
    height: 500px;
    line-height: 500px;
}

.verysmall-container,
.small-container,
.big-container {
    line-height: 300px;
    height: 300px;
}

.verysmall-container.tiffany {
    border: 1px dashed white;
}

.orange{
    background-color: rgb(218, 165, 32);
}

.darkpink {
    background-color: rgb(238, 130, 238);
}

.blue {
    background-color: blue;
}

.grey {
    background-color: rgb(211, 211, 211);
}

.lightblue {
    background-color: rgb(30, 144, 255);
}

.lightpink {
    background-color: rgb(255, 192, 203);
}

.darkgrey {
    background-color: rgb(35, 39, 42);
}

.pink {
    background-color: rgb(240, 128, 128);
}

.tiffany {
    background-color: rgb(32, 178, 170);
}

.lighttiffany {
    background-color: rgb(127, 255, 212);
}

.green {
    background-color: rgb(34, 139, 34);
}

.lightcyan {
    background-color: rgb(173, 216, 230);
}