*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* commons */

header{
    background-color:rgb(173, 216, 230);
    /* debug */
    /* height: 50px; */
}
header,
main,
.container,
.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main{
    flex-direction: column;
    /* debug */
    /* background-color: rgb(125, 255, 255); */
    /* height: 1000px; */
}

/* nav */
.nav-container{
    height: 30px;
    line-height: 30px;
    justify-content: space-between;
    /* debug */
    background-color: rgb(218, 165, 32);
    border: 1px Dashed black;
}

.nav{
    width: 20%;
    /* debug */
    border: 1px dashed black;
}

.menu{
    flex-grow: 1;
}

/* main */
.container{
    width: 100%;
}

.bigpink-container{
    width: 45%;
    /* debug */
    height: 200px;
    line-height: 200px;
}

.green-container{
    /* debug */
    height: 500px;
    line-height: 500px;
    background-color: rgb(34, 139, 34);
}

.big-container{
    width: 40%;
}

.small-container{
    width: 20%;
}

.multi-container{
    display: flex;
}

.verysmall-container{
    width: calc(100% / 5);
}

.nav-container,
.multi-container,
.green-container
{
    width:  60%;
}

.bigpink-container,
nav.container,
.big-container,
.small-container,
.green-container,
.verysmall-container
{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px dashed black;
}

.verysmall-container.tiffany{
    border: 1px dashed white;
}

/* debug */
.verysmall-container,
.small-container,
.big-container{
line-height: 300px;
height: 300px;
}

.darkpink{
    background-color: rgb(238, 130, 238);
}

.blue{
    background-color: blue;
}

.grey{
    background-color: rgb(211, 211, 211);
}

.lightblue{
    background-color: rgb(30, 144, 255);
}

.lightpink{
    background-color: rgb(255, 192, 203);  
}

.darkgrey{
    background-color: rgb(35, 39, 42);
}

.pink{
    background-color: rgb(240, 128, 128);
}

.tiffany{
    background-color: rgb(32, 178, 170);
}
