*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* commons */
.container{
    display: flex;
    width: 60%; 
}

header{
    background-color:rgb(173, 216, 230);
    /* debug */
    /* height: 50px; */
}
header,
main,
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main{
    flex-direction: column;
    /* debug */
    /* background-color: rgb(125, 255, 255); */
    /* height: 1000px; */
}

/* nav */
nav.container{
    width: 60%;
    background-color: rgb(218, 165, 32);
    height: 30px;
    line-height: 30px;
    justify-content: space-between;
}

.container > .nav{
    width: calc(90% / 3 - 30px);
    /* debug */
    /* background-color: aqua; */
    border: 1px Dashed black;
}

.menu{
    flex-grow: 1;
}

/* main */
.container{
    width: 100%;
}

.bigpink-container{
    width: 45%;
    /* debug */
    height: 200px;
    background-color: rgb(238, 130, 238);
}

.green-container{
    width: 60%;
    /* debug */
    height: 500px;
    background-color: rgb(34, 139, 34);
}

.big-container{
    width: 40%;
    /* debug */
    height: 300px;
}

.small-container{
    width: 20%;
    /* debug */
    height: 300px;
 
}

.bigpink-container,
nav.container,
.big-container,
.small-container,
.green-container
{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px dashed black;
}

.blue{
    background-color: blue;
}

.grey{
    background-color: rgb(211, 211, 211);
}

.lightblue{
    background-color: rgb(30, 144, 255);
}

.lightpink{
    background-color: rgb(255, 192, 203);  
}


